<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directives in Vue.js: Part 2</title>
</head>
<body>
    
    <div id="ameer">
        <!-- v-if & v-else & v-else-if & v-once & v-show -->
        <!-- Be careful, do not put or include an element that separates between v-if or/and v-else-f or/and v-else -->

        <h1 v-if="message">{{message}}</h1>
        <h1 v-else="message">There is not exist a message</h1>
        
        <p v-if="salary > 3000">hmmm, you are rich</p>
        <p v-else-if="salary < 3000 && salary >1200 ">You are a normal person, your salary is enough for a month </p>
        <p v-else="salary">You are poor, I hope you get better</p>

        <p v-once>{{mssg_once}}</p>
        <p v-show="message">youre message: {{message}}</p>
    </div>

    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#ameer',
            data: {
                message: 'Welcome To Vue js Course',
                salary: '5000',  
                mssg_once: 'this message for once'     
            }
        })
    </script>
</body>
</html>